//  ----------------------- Footer --------------------------- 

.footer {
    // @include gradiente2($principal, $secundario);
    display: flex;
    justify-content: center;
    list-style: none;

    .social {
        padding: 2rem;
        
    }
    img{
        width: 10px;
    }
}