//  ----------------------- Footer --------------------------- 

.footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;

    .icon-facebook{
        width: 1rem;
    }
    .icon-twitter{
        width: 2rem;
    }
    .icon-instagram{
        width: 2rem;
    }
}