
{{!-- ----------------------- Footer --------------------------- --}}

<footer class="footer">
        <div class="social icon-facebook">
            <a href="#">
            <img src="static/img/facebook.svg" alt="facebook"></a>
        </div>
        <div class="social icon-instagram">
            <a href="#">
            <img src="static/img/instagram.svg" alt="instagram"></a>
        </div>
        <div class="social icon-twitter">
            <a href="#">
            <img src="static/img/twitter.svg" alt="twitter"></a>
        </div>
        {{!-- <div><h1>Hecho con pasión by Gonzalo Guerrero</h1></div> --}}
</footer>