
<div id="service" class="main-service l-container">
 <img src="static/img/pcformateo.jpeg" alt="teclado">
 <div class="services-banner">
 </div>

</div>
 {{!-- <div class="main-banner__content">
     <h1 class="main-banner__description">Aumenta 10x la velocidad de tu PC con disco SSD</h1>
     <p class="button" ></p>
 </div> --}}