
<div id="service" class="main-banner l-container">
 {{!-- <img src="static/img/mg.jpg" alt="fotografia de un notebook"> --}}
 <div class="main-banner__content">
     <h1 class="main-banner__description">Aumenta 10x la velocidad de tu PC con disco SSD</h1>
     {{!-- <p class="button" ></p> --}}
 </div>
</div>