<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfqMf_Z6xHJEyy4GsJz5pwoFRWc1NJflo&callback=initMap"
    type="text/javascript"></script>
    <title>Webpack Workflow</title>
</head>
<body class="logo">

    {{> partials/hero }}
    {{> partials/service }}
    {{> partials/map }}
    {{> partials/footer }}

</body>
</html>